
@import "./reset/reset.scss";
@import "./stylesheet.scss";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";
@import "./components/adept.scss";

html{
    font-family: 'Roboto', sans-serif;
    //font-family: Philosopher;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;

}



  






  


  

