.footer{
  background: rgba(37, 37, 37, 1);
  a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
  }
}
.all-info{
  display: flex;
  
}
.info{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.other-info{
  width: 75%;
  display: flex;
  justify-content: space-between;
  
}


.column{
  :first-child{
      padding-bottom: 6px;
      font-family: Philosopher;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      color: white;
  }
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 20px;
}