.first_section{
  display: flex;
  justify-content: space-between;
}

.main-text{
  padding-top: 160px;
  
  h1{
      font-size: 49px;
      font-family: Philosopher;
      line-height: 118%;
  }
  
  p{
    font-size: 16px; 
    margin-top: 32px;
    line-height: 150%;
    color: rgba(21, 12, 1, 1);
  }
}

.buttons button{
background: none;
padding: 20px 40px;
color: rgba(220, 120, 11, 1);
font-size: 16px;
font-style: normal;
border-radius: 5px;
cursor: pointer;
border: 1px solid rgb(165, 165, 165);
transition: background 0.2s ease;
margin-top: 44px;
}

.buttons button:hover{
background: rgba(220, 120, 11, 1);
color: white;
border: 1px solid rgba(220, 120, 11, 1);

}

.right-btn{
  margin-right: 30px;
}
.second_section{
margin-top: 70px;
margin-bottom: 160px;
.titles{
    text-align: center;
    h2{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: rgba(220, 120, 11, 0.7);
    }
    h3{
        font-family: Philosopher;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 77%;
        
        margin-top: 13px;
    }
}

.features-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 44px;
    padding: 0 35px 0 35px;
}

.feature{
    text-align: center; 
    
    h4{
        font-family: Philosopher;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 96%;
        margin-top: 37px;
    }
    p{
        font-size: 16px;
        line-height: 150%;
        margin-top: 17px;
    }
}
}

.third_section-titles {
max-width: 66%;
text-align: center;
margin: 0 auto;

h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(220, 120, 11, 0.7);

}
h3{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 77%;
    color: rgba(21, 12, 1, 1);
    margin-top: 9px;
}
p{
    font-size: 16px;
    line-height: 150%;
    color: rgba(21, 12, 1, 0.7);
    margin-top: 25px;
}
}

.menu-item{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
margin-top: 70px;
gap: 30px;
.item{
    max-width: 31.5%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 70px 10px 10px 10px;
    .food{
        width: 100%;
        border-radius: 70px 10px 70px 0;
    }
    .name-price{
        display: flex;
        justify-content: space-between;
        font-family: Philosopher;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 96%;
        padding: 22px 25px 17px;
    }
    p{
        padding: 0 25px;
        font-size: 16px;
        line-height: 150%;
        color: rgba(21, 12, 1, 0.7);
        
    }
    .plus-rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 24px;
        padding: 12px 27px 24px;
        img{
        background: rgba(220, 120, 11, 1);
        padding: 12px;
        border-radius: 5px;
        
        }
        .rating {
            display: flex;
            
            &__star {
              height: 16px;
              width: 16px;
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.18179L10.1863 5.79957L7.99681 0.299072L5.80734 5.79957L0 6.18179L4.45419 9.96385L2.99256 15.701L7.99681 12.5379L13.0011 15.701L11.5395 9.96385L16 6.18179Z' fill='%23EDEDED'/%3E%3C/svg%3E%0A");
            }
          }
          
          [data-rating="1"] .rating__star:nth-child(1) {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.18179L10.1863 5.79957L7.99681 0.299072L5.80734 5.79957L0 6.18179L4.45419 9.96385L2.99256 15.701L7.99681 12.5379L13.0011 15.701L11.5395 9.96385L16 6.18179Z' fill='%23DC780B'/%3E%3C/svg%3E%0A");
          }
          
          [data-rating="2"] .rating__star {
           &:nth-child(1),
           &:nth-child(2){
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.18179L10.1863 5.79957L7.99681 0.299072L5.80734 5.79957L0 6.18179L4.45419 9.96385L2.99256 15.701L7.99681 12.5379L13.0011 15.701L11.5395 9.96385L16 6.18179Z' fill='%23DC780B'/%3E%3C/svg%3E%0A");
            }
          }
          
          [data-rating="3"] .rating__star {
           &:nth-child(1),
           &:nth-child(2),
           &:nth-child(3){
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.18179L10.1863 5.79957L7.99681 0.299072L5.80734 5.79957L0 6.18179L4.45419 9.96385L2.99256 15.701L7.99681 12.5379L13.0011 15.701L11.5395 9.96385L16 6.18179Z' fill='%23DC780B'/%3E%3C/svg%3E%0A");
            }
          }
          
          [data-rating="4"] .rating__star {
           &:nth-child(1),
           &:nth-child(2),
           &:nth-child(3),
           &:nth-child(4){
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.18179L10.1863 5.79957L7.99681 0.299072L5.80734 5.79957L0 6.18179L4.45419 9.96385L2.99256 15.701L7.99681 12.5379L13.0011 15.701L11.5395 9.96385L16 6.18179Z' fill='%23DC780B'/%3E%3C/svg%3E%0A");
            }
          }
          
          [data-rating="5"] .rating__star {
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.18179L10.1863 5.79957L7.99681 0.299072L5.80734 5.79957L0 6.18179L4.45419 9.96385L2.99256 15.701L7.99681 12.5379L13.0011 15.701L11.5395 9.96385L16 6.18179Z' fill='%23DC780B'/%3E%3C/svg%3E%0A");
        }
          
    }
    
}

}

span{
color: rgba(220, 120, 11, 1);
font-size: 16px;
display: flex;
justify-content: center;
padding-top: 60px;

}