.container
  header.header
    a(href="#")
      img(src="../assets/imgs/logo.png", alt="")
    .menu 
      a(href="") Home
      a(href="") About us
      a(href="") Menu
      a(href="") Features
      a(href="") Contact us
    button.header-btn Booking Now
  
      
  