mixin feature(img, title)   
  .feature   
    img(src=img, alt="")
    h4=title
    p 
      | It can be a very secure path to earn good
      | money and make you very successful
      | creative entrepreneur. 
      
    